
<div class="total-cart">
    <ul>
        <li>
            <a href="@Url.Action("GioHang","GioHang")">
                <span class="total-cart-number">@ViewBag.TongSoLuong Sản phẩm</span>
                <span><i class="sp-shopping-bag"></i></span>
            </a>
        </li>
    </ul>
</div>