<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home || Shopick</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500.00,700,300' rel='stylesheet' type='text/css'>

    <!-- master css -->
    <link rel="stylesheet" href="~/Content/shopik/master.css">
    <!-- modernizr css -->
    <script src="~/Content/shopik/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- HEADER-AREA START -->
    <header class="header-area">
       @Html.Action("ChuDePartial","ChuDe")
    </header>
    <!-- HEADER-AREA END -->
    <!-- PAGE-CONTENT START -->

    <section class="page-content">
        @RenderBody()
        <!-- SLIDER-AREA START -->
        
        <!-- SLIDER-AREA END -->
        <!-- BANNER-AREA START -->
        
        <!-- BANNER-AREA END -->

        <!-- NEW-COLLECTION START -->
        
        <!-- NEW-COLLECTION END -->
        <!-- PRODUCT-AREA START -->
        
        <!-- PRODUCT-AREA END -->
        <!-- PROMOTIONAL-BANNER START -->
        
        <!-- PROMOTIONAL-BANNER END -->
        <!-- BEST-SELL-AREA START -->
        
        <!-- BEST-SELL-AREA END -->
        <!-- ALL-PRODUCT-VIEW START -->
        
        <!-- ALL-PRODUCT-VIEW END -->
        <!-- FEATURED-AREA START -->
        
        <!-- FEATURED-AREA END -->
        <!-- BRAND-LOGO-AREA START -->
        
        <!-- BRAND-LOGO-AREA END -->
        <!-- TESTIMONIAL-AREA START -->
        
        <!-- TESTIMONIAL-AREA END -->
        <!-- SERVICE-AREA START -->
        <div class="service-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="sp-transport"></i>
                            </div>
                            <div class="service-brief">
                                <h3>free shipping</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, alteration</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="sp-head-phone"></i>
                            </div>
                            <div class="service-brief">
                                <h3>help line</h3>
                                <p>(+112) 1925184203 - call any time for any support Lorem Ipsum available, alteration </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="sp-business"></i>
                            </div>
                            <div class="service-brief">
                                <h3>money back guarantee</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, alteration</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SERVICE-AREA END -->
        <!-- SUBSCRIBE-AREA START -->
        <div class="suscribe-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="subscribe">
                            <div class="subscribe-brief">
                                <h3>enter your email address</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Enter email to subscribe" />
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SUBSCRIBE-AREA START END -->
    </section>
    <!-- PAGE-CONTENT END -->
    <!-- FOOTER-AREA START -->
    <footer class="footer-area">
        <div class="footer-top">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-footer footer-logo">
                                <img src="~/Content/shopik/img/logo.png" alt="" />
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="single-footer footer-contact">
                                <h2>contact us</h2>
                                <ul>
                                    <li>
                                        <i class="sp-phone"></i>
                                        <span>+019 (111) 25184203</span>
                                    </li>
                                    <li>
                                        <i class="sp-email"></i>
                                        <span>liukhang123@gmail.com</span>
                                        <span>liukhangdev@gamil.com</span>
                                    </li>
                                    <li>
                                        <i class="sp-map-marker"></i>
                                        <span>777/ab Rampura Bonosri</span>
                                        <span>North DC-3050 USA.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 hidden-sm col-xs-12">
                            <div class="single-footer footer-menu">
                                <h2>company</h2>
                                <ul>
                                    <li><a href="#">Account</a></li>
                                    <li><a href="#">Log in</a></li>
                                    <li><a href="#">Regester</a></li>
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Chakeout</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="single-footer footer-message">
                                <form action="#">
                                    <h2>Quick contact</h2>
                                    <div class="footer-message-box">
                                        <input type="text" placeholder="your email address" />
                                        <textarea placeholder="your messege"></textarea>
                                        <input type="submit" value="submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright-brief">
                            <p>CopyPaste &copy; <a href="javascript:void(0)">LiuKhang</a> Some rights reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-social text-right">
                            <a href="#"><i class="sp-facebook"></i></a>
                            <a href="#"><i class="sp-twitter"></i></a>
                            <a href="#"><i class="sp-linkedin"></i></a>
                            <a href="#"><i class="sp-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER-AREA END -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/Content/shopik/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Content/shopik/js/bootstrap.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="~/Content/shopik/lib/js/jquery.nivo.slider.js"></script>
    <script src="~/Content/shopik/lib/home.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Content/shopik/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/Content/shopik/js/jquery.meanmenu.js"></script>
    <!-- jquery-ui js -->
    <script src="~/Content/shopik/js/jquery-ui.min.js"></script>
    <!-- lightbox.min js -->
    <script src="~/Content/shopik/js/lightbox.min.js"></script>
    <!-- countdon.min js -->
    <script src="~/Content/shopik/js/countdon.min.js"></script>
    <!-- wow js -->
    <script src="~/Content/shopik/js/wow.min.js"></script>
    <script type="text/javascript">
			new WOW().init();
    </script>
    <!-- plugins js -->
    <script src="~/Content/shopik/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/Content/shopik/js/main.js"></script>
</body>
</html>
